/* LightSwitch.css */
.light-switch {
    margin-top: 20px;
  }
  
  .light-switch h4 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .light-switch select {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: #fff;
  }
  