.dashboard {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .pie-chart-container {
    display: inline-block;
    margin-bottom: 20px;
    position: relative;
  }
  
  .status-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e3f2fd;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 16px;
    color: #333;
  }
  
  .buildings {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .building {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00C49F;
    color: white;
    font-weight: bold;
  }

  /* Logout Button */
.logout-button {
  width: 100%;
  max-width: 200px;
  padding: 10px;
  font-size: 18px;
  margin-top: 20px;
  background-color: #ce2626; /* 与 process button 相同 */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s, box-shadow 0.2s; /* 添加过渡效果 */
}
  
  .footer {
    margin-top: 20px;
  }
  
  .footer p {
    color: #007BFF;
    font-size: 18px;
  }
  